@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #1a202c;
}

* {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  text-align: center;
}

.container {
  margin-top: 4rem;
}

@media screen and (max-width: 500px) {
  * {
    font-size: medium;
  }
}
